*{
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    }
body{
    overflow-x: hidden !important;
    max-width: 1440px !important;
    margin: 0 auto !important;
    padding: 0 !important;
}
header .container-header{
    background: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 ;
    padding: 0 ; 
}
header #button1{
    width: 236px;
    height: 80px;
    margin-right: 0;
    background: #e0b9b4;
    border: 0px;
    color: #313332;
     }
header #button1:hover
{
     background: #98483d;
     color: #010101;
 }
header #menu-principal{
        display: flex;
    }
header #menu-principal li{
    margin: 40px;
    color: #313332 !important;
}
.menu-item a {
    color: #313332 !important;} 
header nav{
    display: flex;
    width: 931px;
    justify-content: right;
}

#menu-item-83{
    width:114px;
    height: 19px;
    font-size: 14px;
}
#menu-item-83:hover{
    width: 142px;
    height: 19px;
     padding: 1px 14px 2px 12px;
}
#button-envoie{
    width: 198px;
    height: 55px;
    background: #e0b9b4;
}
.legal {
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
    z-index: 10;
    margin-top: -20px;
    
}.legal a{
    color: #010101;
    font-size: 24px;
    font-family: 'Syne', sans-serif;
}

/*Pour faire un menu responsive */
@media (max-width: 768px) {
    header .container-header{
        background: white;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 760px;
        margin: 0 ;
        padding: 0 ; 
    }
    header #button1{
        font-size: 14px;
        width: 100px;
        height: 80px;
        margin-right: 0;
        background: #e0b9b4;
        border: 0px;
        color: #313332;
         }
    header #menu-principal{
            display: flex;
        }
    header #menu-principal li{
        margin: 5px;
        color: #313332 !important;
    }
    li.menu-item a {
        color: #313332 !important;} 
    header nav{
        display: flex;
        width: 300px;
        justify-content: right;
    }
    .logos{
        width:100px;
        height: auto;
    }
}

/*************************************** */